
<div class="container faqs-container">
   <div class="row">
       <div class="col-md-9 col-md-offset-2">
           <!-- Nav tabs category -->
           <ul class="nav nav-tabs faq-cat-tabs">
               <li class="active"><a href="#faq-cat-1" data-toggle="tab">About our Content Collection</a></li>
               <li><a href="#faq-cat-2" data-toggle="tab">Integration with the Knovation Content Collection</a></li>
           </ul>

           <!-- Tab panes -->
           <div class="tab-content faq-cat-content">
               <div class="tab-pane active in fade" id="faq-cat-1">
                   <div class="panel-group" id="accordion-cat-1">
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                   <h4 class="panel-title">
                                       How many learning resources are in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Since 1999, we have invested in the cultivation of our <a href="http://www.knovationlearning.com/solutions/content-collection/" target="_blank"> Content Collection </a> - managing the content life cycle, contextualization, appropriateness, cognitive level and instructional quality of each learning resource. Today, there are 360,000+ K12 learning resources maintained in our Content Collection.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                   <h4 class="panel-title">
                                       How many publishers are represented in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                               <div class="panel-body">
                                 There are thousands of publishers represented in our Content Collection. We actively manage the publishers represented in the Content Collection focusing on high quality K12 educational content and a variety of learning resource types. <a href="http://www.knovationlearning.com/solutions/content-collection/content-providers/" target="_blank"> View a sample of our publishers.</a>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                   <h4 class="panel-title">
                                       Does the Knovation Content Collection have learning resources for all subject areas?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Yes, our Content Collection has tens of thousands of resources for the <a href="http://content.knovationlearning.com/#Lead" target="_blank"> four core subject areas </a> (Science, Social Studies, English Language Arts, and Mathematics), as well as many other key subject areas (World Languages, English Language Learners, Fine Arts, Health and Physical Education, Philosophy & Religion, Career and Technical Education, Current Events, Technology, and 21st Century Skills).
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                   <h4 class="panel-title">
                                       Are the learning resources in the Knovation Content Collection aligned with academic standards?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                               <div class="panel-body">
                                 One of the primary goals for our Content Collection is to provide complete coverage of the state and Common Core State Standards and taxonomies, across core and related subject areas. We regularly analyze State and Common Core State Standards and our subject area taxonomies to identify any existing gaps, and then we take steps to fill those gaps with quality content.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                   <h4 class="panel-title">
                                       How frequently is the Knovation Content Collection updated?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                               <div class="panel-body">
                                 We update our Content Collection on a continuous basis. Thousands of new learning resources are added each quarter after <a href="https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C0000000D5li/q3eAwu0BuA6hj34oXrPDZedfxlCJWfbyBb1aiO4Qe7c" target="_blank"> certification by our Curators</a>. Additionally, all learning resources in our Content Collection are reviewed daily for availability and appropriateness.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                                   <h4 class="panel-title">
                                       Are the learning resources in the Knovation Content Collection analyzed and tagged for Lexile measures?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Yes, learning resources in our Content Collection are analyzed and tagged for Lexile measures. Additionally, we analyze and tag each learning resource with our proprietary "readability score", an average of the scores generated by four long-standing readability formulas and the Lexile® Framework for Reading.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-7">
                                   <h4 class="panel-title">
                                       Which learning resource types are included in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-7" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Our <a href="http://www.knovationlearning.com/solutions/content-collection/content-team/" target="_blank"> Content Curators </a> focus on providing a wide variety of learning resource types in the Content Collection. Resource types include:  activities, articles, assessments, audio, eBooks, interactive media, learning games, learning modules, lesson plans, primary source documents, reference materials, student centered materials, test preparation materials, videos, visual materials, websites, whiteboard resources, apps, professional learning resources, and 3-D printing plans. To highlight new additions, we publish a quarterly report, <a href="https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C00000000DiB/fvxjCdHahrNKq8LgwspsGqJxw9rpcDv.tuIYA6LH9Eg" target="_blank">"What Have We Done for You Lately?"</a> that showcases the characteristics of newly harvested learning resources.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-8">
                                   <h4 class="panel-title">
                                      Does the Knovation Content Collection include lesson plans or full courses?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-8" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Our Content Collection may include learning modules or lesson plans but is primarily a collection of individual learning resources that enable curriculum specialists and teachers to create courses aligned to District curriculum, or to develop custom lessons for the classroom or for an individual student.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-9">
                                   <h4 class="panel-title">
                                     Does Knovation have rights to the learning resources in our Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-9" class="panel-collapse collapse">
                               <div class="panel-body">
                                 We do not have rights in our ownership of the learning resources in the content Collection. We curate and contextualize content that is available on the web – all rights to the content itself remain with its publisher and/or author. We do own and have rights to the metadata generated by our Content Curators to contextualize learning resources for use in K12 educational settings.
                               </div>
                           </div>
                       </div>

                   </div>
               </div>







               <div class="tab-pane fade" id="faq-cat-2">
                   <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                   <h4 class="panel-title">
                                       What are the benefits of Knovation's Content Integration Services?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                               <div class="panel-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                   <h4 class="panel-title">
                                       Why would I integrate using Knovation's API Content Services?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                               <div class="panel-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </div>
       </div>
   </div>

<script>
$(document).ready(function() {
    $('.collapse').on('show.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
    });
    $('.collapse').on('hide.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
    });
});
</script>
