

<div class="container faqs-container">
  <div class="page-header" style="margin-bottom: 70px;">
    <h1 class="feature-heading">FAQs</h1>
    <h1><small>Have questions about the Knovation Content Collection or Content Integration Services?</br>
      <a class="contact" href='http://www.knovationlearning.com/contact-us/' target="_blank">Contact us</a> – we love talking about digital content and education!</small></h1>
  </div>
   <div class="row">
       <div class="col-md-9 col-md-offset-2">
           <!-- Nav tabs category -->
           <ul class="nav nav-tabs faq-cat-tabs">
               <li class="active"><a href="#faq-cat-1" data-toggle="tab">About our Content Collection</a></li>
               <li><a href="#faq-cat-2" data-toggle="tab">Integration with the Content Collection</a></li>
           </ul>

           <!-- Tab panes -->
           <div class="tab-content faq-cat-content">
               <div class="tab-pane active in fade" id="faq-cat-1">
                   <div class="panel-group" id="accordion-cat-1">
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                   <h4 class="panel-title">
                                       How many learning resources are in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Since 1999, we have invested in the cultivation of our <a href="http://www.knovationlearning.com/solutions/content-collection/" target="_blank"> Content Collection </a> - managing the content life cycle, contextualization, appropriateness, cognitive level and instructional quality of each learning resource. Today, there are 360,000+ K-12 learning resources maintained in our Content Collection.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                   <h4 class="panel-title">
                                       How many publishers are represented in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                               <div class="panel-body">
                                 There are thousands of publishers represented in our Content Collection. We actively manage the publishers represented in the Content Collection focusing on high quality K-12 educational content and a variety of learning resource types. <a href="http://www.knovationlearning.com/solutions/content-collection/content-providers/" target="_blank"> View a sample of our publishers.</a>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                   <h4 class="panel-title">
                                       Does the Knovation Content Collection have learning resources for all subject areas?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Yes, our Content Collection has tens of thousands of resources for the <a href="http://content.knovationlearning.com/#Lead" target="_blank"> four core subject areas </a> (Science, Social Studies, English Language Arts, and Mathematics), as well as many other key subject areas (World Languages, English Language Learners, Fine Arts, Health and Physical Education, Philosophy & Religion, Career and Technical Education, Current Events, Technology, and 21st Century Skills).
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                   <h4 class="panel-title">
                                       Are the learning resources in the Knovation Content Collection aligned with academic standards?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                               <div class="panel-body">
                                 One of the primary goals for our Content Collection is to provide complete coverage of the state and Common Core State Standards and taxonomies, across core and related subject areas. We regularly analyze State and Common Core State Standards and our subject area taxonomies to identify any existing gaps, and then we take steps to fill those gaps with quality content.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                   <h4 class="panel-title">
                                       How frequently is the Knovation Content Collection updated?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                               <div class="panel-body">
                                 We update our Content Collection on a continuous basis. Thousands of new learning resources are added each quarter after <a href="https://na8.salesforce.com/sfc/p/#80000000KiC4/a/C0000000D5li/q3eAwu0BuA6hj34oXrPDZedfxlCJWfbyBb1aiO4Qe7c" target="_blank"> certification by our Curators</a>. Additionally, all learning resources in our Content Collection are reviewed daily for availability and appropriateness.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                                   <h4 class="panel-title">
                                       Are the learning resources in the Knovation Content Collection analyzed and tagged for Lexile measures?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Yes, learning resources in our Content Collection are analyzed and tagged for Lexile measures. Additionally, we analyze and tag each learning resource with our proprietary "readability score", an average of the scores generated by four long-standing readability formulas and the Lexile® Framework for Reading.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-7">
                                   <h4 class="panel-title">
                                       Which learning resource types are included in the Knovation Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-7" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Our <a href="http://www.knovationlearning.com/solutions/content-collection/content-team/" target="_blank"> Content Curators </a> focus on providing a wide variety of learning resource types in the Content Collection. Resource types include:  activities, articles, assessments, audio, eBooks, interactive media, learning games, learning modules, lesson plans, primary source documents, reference materials, student centered materials, test preparation materials, videos, visual materials, websites, whiteboard resources, apps, professional learning resources, and 3-D printing plans. To highlight new additions, we publish a quarterly report, <a href="http://hubspot.knovationlearning.com/content_updates" target="_blank">"What Have We Done for You Lately?"</a> that showcases the characteristics of newly harvested learning resources.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-8">
                                   <h4 class="panel-title">
                                      Does the Knovation Content Collection include lesson plans or full courses?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-8" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Our Content Collection may include learning modules or lesson plans but is primarily a collection of individual learning resources that enable curriculum specialists and teachers to create courses aligned to District curriculum, or to develop custom lessons for the classroom or for an individual student.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-9">
                                   <h4 class="panel-title">
                                     Does Knovation have rights to the learning resources in our Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-9" class="panel-collapse collapse">
                               <div class="panel-body">
                                 We do not have rights in our ownership of the learning resources in the content Collection. We curate and contextualize content that is available on the web – all rights to the content itself remain with its publisher and/or author. We do own and have rights to the metadata generated by our Content Curators to contextualize learning resources for use in K-12 educational settings.
                               </div>
                           </div>
                       </div>

                   </div>
               </div>







               <div class="tab-pane fade" id="faq-cat-2">
                   <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                   <h4 class="panel-title">
                                       What are the benefits of Knovation's Content Integration Services?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                               <div class="panel-body">
                                 K-12 application and platform providers integrate with our Content Collection for quick and reliable access to comprehensive, aligned, and managed K-12 digital content. Some of the benefits realized by our subscribers include:

                                 <ul>
                                  <li> Ease of implementation using industry standard technologies</li>
                                  <li>Immediate access to a turnkey library of K-12 learning resources</li>
                                  <li>Assurance that we are actively servicing the Content Collection by:</li>

                                 <ol type="i">
                                   <li> Harvesting new learning resources</li>
                                   <li>Analyzing learning resources for pornography and appropriateness for educational settings</li>
                                   <li>Ensuring high availability of learning resources by scanning for and updating URL's</li>
                                 <ol>
                                </ul>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                   <h4 class="panel-title">
                                       Why would I integrate using Knovation's API Content Services?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                               <div class="panel-body">
                                 API Content Services Subscribers benefit from K-12 digital content in their platform or application and value the peace of mind provided by our content integration services. As a subscriber, you would select this method of content integration if you want to manage the presentation layer for your platform or application and you want content search but don't want to develop or maintain search functionality, or you want improved content search functionality.
                               </div>
                           </div>
                       </div>

                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                   <h4 class="panel-title">
                                     Why would I integrate using Knovation's Cloud Content Services?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Cloud Content Services Subscribers benefit from digital content in their platform or application and value the peace of mind provided by our managed services. You would select this method of integration if you have your own repository, may have multiple publishers, want the flexibility of implementation, and are investing to develop your own features, function, and presentation layer.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                   <h4 class="panel-title">
                                     What skills are needed to integrate with the Content Collection?
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-4" class="panel-collapse collapse">
                               <div class="panel-body">
                                 Integration with our Content Collection is achieved through either our API Content Services or Cloud Content Services and requires working knowledge of JSON, XML and REST.
                               </div>
                           </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                       Why do the Knovation Content Integration Services use Managed Links and not native URLs to access learning resources?
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   Knovation provides an ongoing managed service for our Content Collection. The use of our Managed Links provides our subscribers and their users a static URL for a seamless, predictable experience while we manage the availability and appropriateness of a learning resource behind the scenes.
                                 </div>
                             </div>
                         </div>
                   </div>
               </div>
           </div>
         </div>
       </div>
   </div>

<script>
$(document).ready(function() {
    $('.collapse').on('show.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
    });
    $('.collapse').on('hide.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
    });
});
</script>
