<div class="row">
  <div class="col-xs-12 home">
    <div class="big-logo" style="padding-top: 85px;"> <%=image_tag("home2.jpg") %>
    </div>
  </div>
</div>

</br>
</br>
<p>I love bear claw candy canes marzipan I love marzipan. Cupcake pastry wafer oat cake I love. Cake I love icing I love donut danish jujubes. Apple pie oat cake jujubes jelly-o I love. Dragée sweet roll marshmallow jujubes muffin donut lemon drops. Halvah danish fruitcake. Brownie halvah biscuit. Cake cupcake tiramisu gummies brownie. Tart I love gummies. Muffin I love jelly sweet roll tart danish chocolate cake chocolate bar pie. Chupa chups gummi bears toffee topping jelly bear claw pastry oat cake I love. Donut caramels icing.</p>
</br>
<p>Carrot cake wafer lollipop cake powder jujubes carrot cake sweet carrot cake. Chupa chups I love I love cotton candy. Chocolate ice cream cake caramels I love marzipan pie lollipop candy. Chupa chups I love I love. I love I love I love. Cake cake cookie brownie chocolate bar chocolate halvah halvah toffee. Muffin cupcake cake candy halvah sugar plum. Jujubes jelly-o sweet cake. Pudding oat cake carrot cake I love apple pie brownie cake fruitcake pastry. I love cupcake cupcake bonbon. Ice cream gummies chocolate bar gummi bears I love bear claw bear claw. Donut fruitcake gingerbread I love chupa chups pudding jelly beans apple pie tart. Pastry gingerbread candy canes tootsie roll.</p>
</br>
<p>Oat cake biscuit jelly-o. Tiramisu tootsie roll candy marshmallow marzipan I love marzipan. Chocolate bar I love gummi bears jujubes I love soufflé. Chocolate bar bear claw topping jelly jelly cheesecake powder dragée. Chocolate cake fruitcake bonbon. Sweet sesame snaps cheesecake. Icing I love caramels carrot cake I love I love sugar plum wafer. I love tart cheesecake muffin. Cake danish soufflé lemon drops liquorice. Marzipan lollipop lollipop apple pie bear claw I love. Pastry chocolate bar marshmallow tiramisu chocolate bar sesame snaps lemon drops dessert. Sweet tart croissant gummi bears tart.</p>
</br>
<p>Topping apple pie cheesecake jelly beans brownie candy oat cake topping. Dessert dragée sesame snaps sweet roll gummi bears jujubes ice cream jelly-o tart. Gingerbread danish liquorice candy chocolate cake croissant jelly chocolate tootsie roll. Gummi bears gummi bears jelly croissant carrot cake gummies apple pie pudding. Caramels tiramisu lollipop chupa chups I love I love marshmallow tart. Pie I love candy canes sugar plum wafer cotton candy gummi bears. Ice cream fruitcake cupcake bonbon chocolate. Tiramisu caramels soufflé halvah ice cream I love danish dragée. Cake marshmallow chocolate cake macaroon I love I love. Biscuit oat cake tart gummies caramels marshmallow macaroon. I love macaroon dessert gingerbread caramels ice cream lemon drops toffee. Topping icing I love danish ice cream I love. Cake I love pudding tart sweet roll bonbon gummies.</p>
</br>
<p>Biscuit cake powder icing gummies jelly. Candy canes I love sweet cake. Chupa chups gingerbread icing. Cheesecake jelly-o I love dessert dessert pie cotton candy brownie. Jelly beans danish chocolate bar tiramisu. Dessert biscuit tootsie roll I love sugar plum muffin marzipan. I love pie I love dessert bonbon. Jelly-o sugar plum sweet muffin candy canes cake liquorice gummies. Pie fruitcake pastry macaroon. Fruitcake candy tart lollipop. Marshmallow fruitcake I love sugar plum cake I love lollipop cupcake. Cheesecake ice cream jujubes chupa chups. Jelly beans tootsie roll biscuit croissant.</p>
