<div class="row">
  <div class="col-xs-12 home">
    <div class="big-logo" style="padding-top: 85px;"> <%=image_tag("home.jpg") %>
    </div>
  </div>
</div>

</br>
</br>
</br>

        <div class="container">
         <div class="center">
          <h2>Knovation brings trust, order, and context to a wealth of free online resources so you can easily find what you need, when you need it.</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid" style="background:#F7F7F7;">
        <div class="container">
          <div class="feature-heading">
            <h3>About the Knovation Content Collection</h3>
            <hr>
          </div>
          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-university"></i>
                          <h2>Content Providers</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-thumbs-up"></i>
                          <h2>Certification Process</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-group"></i>
                          <h2>Content Team</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="feature-heading">
          <h3>Mangement of the Knovation Content Collection</h3>
          <hr>
        </div>
        <div class="row features">
            <div>
                <div class="col-md-4 col-sm-6">
                    <div class="support">
                        <i class="fa fa-search"></i>
                        <h2>Curation</h2>
                        <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="support">
                        <i class="fa fa-bullseye"></i>
                        <h2>Contextualization</h2>
                        <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="support">
                        <i class="fa fa-wrench"></i>
                        <h2>Maintenance</h2>
                        <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" style="background:#F7F7F7;">
          <div class="container">
            <div class="feature-heading">
            <h3>Integration with the Knovation Content Collection</h3>
            <hr>
          </div>
          <div class="row features">
              <div>
                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-exchange"></i>
                          <h2>API Content Service</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-cloud-download"></i>
                          <h2>Cloud Content Service</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                      <div class="support">
                          <i class="fa fa-random"></i>
                          <h2>Integration Partners</h2>
                          <p class="supportp">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</br>
</br>
</br>
</br>
<div class="vcenterfooters">
  <% if user_signed_in? %>
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-controls" %>
     <% else %>
     <%= link_to "Log in", new_user_session_path, class: "btn btn-md btn-hover btn-primary" %>
   <% end %>
 </div>
