<div class="row">
  <div class="col-xs-12 home">
    <div class="big-logo" style="padding-top: 85px;"> <%=image_tag("home2") %>
    </div>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<h1 style="font-family: 'Roboto', serif;">Find sdfsdfds in app/views/pages/home.html.erb</h1>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
