<div class="row">
  <div class="col-xs-12 home">
    <div class="big-logo" style="padding-top: 85px;"> <%=image_tag("home2.jpg") %>
    </div>
  </div>
</div>

<h1>Pages#home</h1>
<p>Doc, she didn't even look at him. Well, what if they didn't like them, what if they told me I was no good. I guess that would be pretty hard for somebody to understand. Aw yeah, everything is great. Excuse me. Hi, Marty.

Hey man, look at Marvin's hand. He can't play with his hands like that, and we can't play without him. Yeah, where does he live? Let's get him. Doc. Listen, woh. Hello, uh excuse me. Sorry about your barn.

Doc, you gotta help me. you were the only one who knows how your time machine works. You're George McFly. I've gotta go. Lynda, first of all, I'm not your answering service. Second of all, somebody named Greg or Craig called you just a little while ago. Watch it, Goldie.

That's Strickland. Jesus, didn't that guy ever have hair? Yeah, I guessed you're a sailor, aren't you, that's why you wear that life preserver. Indeed I will, roll em. I, Doctor Emmett Brown, am about to embark on an historic journey. What have I been thinking of, I almost forgot to bring some extra plutonium. How did I ever expect to get back, one pallet one trip I must be out of my mind. What is it Einy? Oh my god, they found me, I don't know how but they found me. Run for it, Marty. Whoa, whoa, okay. Right.

Well, Marty, I want to thank you for all your good advise, I'll never forget it. I'm gonna be at the dance. Uh, I think so. C'mon. Who?</p>

<h1>Pages#home</h1>
<p>Doc, she didn't even look at him. Well, what if they didn't like them, what if they told me I was no good. I guess that would be pretty hard for somebody to understand. Aw yeah, everything is great. Excuse me. Hi, Marty.

Hey man, look at Marvin's hand. He can't play with his hands like that, and we can't play without him. Yeah, where does he live? Let's get him. Doc. Listen, woh. Hello, uh excuse me. Sorry about your barn.

Doc, you gotta help me. you were the only one who knows how your time machine works. You're George McFly. I've gotta go. Lynda, first of all, I'm not your answering service. Second of all, somebody named Greg or Craig called you just a little while ago. Watch it, Goldie.

That's Strickland. Jesus, didn't that guy ever have hair? Yeah, I guessed you're a sailor, aren't you, that's why you wear that life preserver. Indeed I will, roll em. I, Doctor Emmett Brown, am about to embark on an historic journey. What have I been thinking of, I almost forgot to bring some extra plutonium. How did I ever expect to get back, one pallet one trip I must be out of my mind. What is it Einy? Oh my god, they found me, I don't know how but they found me. Run for it, Marty. Whoa, whoa, okay. Right.

Well, Marty, I want to thank you for all your good advise, I'll never forget it. I'm gonna be at the dance. Uh, I think so. C'mon. Who?</p>

<h1>Pages#home</h1>
<p>Doc, she didn't even look at him. Well, what if they didn't like them, what if they told me I was no good. I guess that would be pretty hard for somebody to understand. Aw yeah, everything is great. Excuse me. Hi, Marty.

Hey man, look at Marvin's hand. He can't play with his hands like that, and we can't play without him. Yeah, where does he live? Let's get him. Doc. Listen, woh. Hello, uh excuse me. Sorry about your barn.

Doc, you gotta help me. you were the only one who knows how your time machine works. You're George McFly. I've gotta go. Lynda, first of all, I'm not your answering service. Second of all, somebody named Greg or Craig called you just a little while ago. Watch it, Goldie.

That's Strickland. Jesus, didn't that guy ever have hair? Yeah, I guessed you're a sailor, aren't you, that's why you wear that life preserver. Indeed I will, roll em. I, Doctor Emmett Brown, am about to embark on an historic journey. What have I been thinking of, I almost forgot to bring some extra plutonium. How did I ever expect to get back, one pallet one trip I must be out of my mind. What is it Einy? Oh my god, they found me, I don't know how but they found me. Run for it, Marty. Whoa, whoa, okay. Right.

Well, Marty, I want to thank you for all your good advise, I'll never forget it. I'm gonna be at the dance. Uh, I think so. C'mon. Who?</p>
