
<div class="container faqs-container">
  <div class="page-header" style="margin-bottom: 70px;">
    <h1 class="feature-heading">Free and Open Resource Curation Rubric</h1>
    <div class="rubric-description">
      <p>This tool was designed by Knovation Learning to serve as a guide for evaluating
         the quality and effectiveness of free and open educational resources. It is used by the
         Knovation Content and Curriculum Team as the basis by which decisions are made during
         the curation process.</p>
      <p>It is meant to be applied to a variety of learning resource types, such as videos,
         articles, activities, interactive media, and whiteboard resources. While it can be
         applied across large scale websites and lesson plans, it&rsquo;s primarily meant to
         evaluate self-contained learning resources where the student is the primary audience.
        &nbsp;</p>
      <p>It is composed of collections of rubrics, each grouped within one of three categories:</p>
      <ol>
        <li>Publisher Rubrics</li>
        <li>Resource Rubrics</li>
        <li>Resource Type Rubrics</li>
      </ol>
    <p>Often, OER rubrics favor rigor over usability. While this tool was designed to apply rigor to the
       evaluation process, it also places a strong emphasis on practical application and ease of use, particularly in situations
       where resource curation is performed at scale.</p>
    <p>This is accomplished by performing the first round of evaluation on all resources created by a
       single Publisher. When scoring one or more resources using the Publisher rubrics, scores are awarded
       according to the actual characteristics of all resources that originate from a single source.</p>
    <p>Resource rubrics examine both the assumed effectiveness (e.g., Ease of Use) and the actual effectiveness
      (e.g., Age of Information) for all resources, independent of format or type. </p>
    <p>The third category of rubrics evaluates the assumed effectiveness of specific types
      of resources by examining characteristics that make them unique. Rarely will
      all rubrics in this category apply to a single resource.</p>
    <p>As a resource is evaluated, a score is awarded based on whether or not it meets &ldquo;Superior&rdquo;
      or &ldquo;Strong&rdquo; criteria. If the resource does not meet or exceed &ldquo;Strong&rdquo; criteria,
      it is rejected.</p>
    </div>
  </br>
  </div>
</div>
<div class="container-fluid small-pad">
 <div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       <!-- Nav tabs category -->
       <ul class="nav nav-tabs rubric-cat-tabs">
           <li class="active tab-width"><a href="#faq-cat-1" data-toggle="tab"><span class="badge badge-rubric">1</span>Publisher Rubrics</a></li>
           <li class="tab-width"><a href="#faq-cat-2" data-toggle="tab"><span class="badge badge-rubric">2</span>Resource Rubrics</a></li>
           <li class="tab-width"><a href="#faq-cat-3" data-toggle="tab"><span class="badge badge-rubric">3</span>Resource Type Rubrics</a></li>
       </ul>

       <!-- Tab panes -->
       <div class="tab-content faq-cat-content">
           <div class="tab-pane active in fade" id="faq-cat-1">
               <div class="panel-group" id="accordion-cat-1">

                 <a class="row rubric_align">
                   <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                               <h4 class="panel-title">
                                   Amount and Nature of Advertisements
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Publishers
                            <p>Resources from Superior Publishers do not include advertisements, pop-ups, or content that distracts
                               from the topic, concepts, or skills taught within the resource.</p>
                            <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Publishers
                           <p>It is recognized that publishers must often include advertisements in order to fund the creation of content.
                              Therefore, a resource can be considered strong if it includes 2 or fewer advertisements. Advertisements must be appropriate,
                              and may not obstruct the use of the resource, or become an intrusion within its overall flow. Resources
                              with advertisements that are not clearly marked, distract the user, or influence the user to focus on unrelated content are
                              not considered Strong resources.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                      <div class="btn-group fixed" data-toggle="buttons">
                        <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                          <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                        </label>
                        <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                          <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                        </label>
                        <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                          <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                        </label>
                      </div>
                    </div>
                  </a>

                  <a class="row rubric_align">
                    <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                               <h4 class="panel-title">
                                   Required Authentication for Access
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Publishers
                            <p>Resources from Superior Publishers do not require authentication for access, thus improving their accessibility for students
                              and educators. Resources can be accessed from a publicly available URL.</p>
                               <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Publishers
                           <p>Resources from Publishers can be considered strong if authentication is not required to access the page's contents, but it is
                              used in order to store progress or save user created work. While rare, there are exceptions that may influence a curator to harvest
                              resources that require free login (e.g., limited resources available on a topic).</p>
                        </div>
                       </div>
                     </div>
                     <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                       <div class="btn-group fixed" data-toggle="buttons">
                         <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                           <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                           <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                           <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                         </label>
                       </div>
                     </div>
                   </a>

                   <a class="row rubric_align">
                     <div class="panel panel-default panel-faq panel-responsive col-md-10 col-sm-10 col-xs-10 nopad">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                 <h4 class="panel-title">
                                     Privacy Policy and Capture of Student Data
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                           <div class="panel-body rubric-text">
                            <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Publishers
                              <p>Superior Publishers have a clearly stated privacy policy and terms of service. Superior
                                Publishers do not collect personally identifiable information about students.</p>
                                <hr style="margin: 15px;">
                            <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Publishers
                             <p>Resources are considered Strong if student data practices are not clearly stated, but login is not
                                supported, and users are not prompted to enter information that could be used to track their identity. </p>
                          </div>
                        </div>
                     </div>
                     <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                       <div class="btn-group fixed" data-toggle="buttons">
                         <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                           <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                           <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                           <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                         </label>
                       </div>
                     </div>
                   </a>

                 <a class="row rubric_align">
                   <div class="panel panel-default panel-faq panel-responsive col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                               <h4 class="panel-title">
                                   Level of Author and/or Publisher Authority
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Publishers
                            <p>Superior Resources originate from a source with a strong reputation, are properly cited,
                               and whose author(s) demonstrate no clear signs of bias. Superior Publishers are often
                               institutions of higher learning, non-profit organizations, or government agencies.</p>
                               <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Publishers
                           <p>Resources are considered Strong if the author’s qualifications are unclear, but the
                              source has demonstrated a reputation for creating accurate, educationally-relevant content.</p>
                        </div>
                     </div>
                   </div>
                   <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                     <div class="btn-group fixed" data-toggle="buttons">
                       <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                         <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                       </label>
                       <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                         <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                       </label>
                       <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                         <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                       </label>
                     </div>
                   </div>
                  </a>
                 </div>
               </div>

               <div class="tab-pane fade" id="faq-cat-2">
                 <div class="panel-group" id="accordion-cat-2">
                   <a class="row rubric_align">
                     <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                           <h4 class="panel-title">
                             Accuracy of Information
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                         </a>
                       </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                           <div class="panel-body rubric-text">
                            <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                              <p>Superior Resources include information that is properly cited and can be verified as containing no substantial errors or inaccuracies.</p>
                              <hr style="margin: 15px;">
                            <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                             <p>Strong resources lack proper citation, but can be verified as containing no substantial errors or inaccuracies.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                        <div class="btn-group fixed" data-toggle="buttons">
                          <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                            <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                          </label>
                          <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                            <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                          </label>
                          <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                            <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                          </label>
                        </div>
                      </div>
                    </a>

                    <a class="row rubric_align">
                      <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                 <h4 class="panel-title">
                                  Opportunity for Student Engagement (Interest)
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                           <div class="panel-body rubric-text">
                            <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                              <p>Superior Resources are designed to provide an engaging experience for students,
                                 often making use of visual elements, sounds, animation, and multiple forms of media that
                                 capture students’ interest and attention.</p>
                                 <hr style="margin: 15px;">
                            <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                             <p>Resources can be considered strong if they express information primarily through text,
                                but are written in a way that provides accurate and relevant information.</p>
                          </div>
                         </div>
                       </div>
                       <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                         <div class="btn-group fixed" data-toggle="buttons">
                           <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                             <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                             <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                             <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                           </label>
                         </div>
                       </div>
                     </a>

                     <a class="row rubric_align">
                       <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                   <h4 class="panel-title">
                                       Age of Information
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                             <div class="panel-body rubric-text">
                              <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                                <p>Superior Resources are created using technology that makes use of modern web standards, and
                                   presents information in ways that recognize observed usability and user experience best practice.
                                   Information is up to date and reflects the current understanding of the topics or concepts.</p>
                                  <hr style="margin: 15px;">
                              <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                               <p>Resources can be considered strong if the website shows visible or functional signs of age, but information
                                  is up to date and reflects the current understanding of the topics or concepts. </p>
                            </div>
                          </div>
                       </div>
                       <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                         <div class="btn-group fixed" data-toggle="buttons">
                           <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                             <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                             <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                             <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                           </label>
                         </div>
                       </div>
                     </a>

                   <a class="row rubric_align">
                     <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                 <h4 class="panel-title">
                                      Alignment to Curriculum Concepts
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-4" class="panel-collapse collapse">
                           <div class="panel-body rubric-text">
                            <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                              <p>Superior Resources are primarily focused on topics or concepts typically expressed
                                 within curriculum or delivered during instruction. They support standards or skills
                                 that are addressed by the majority of educators in classroom settings.</p>
                                 <hr style="margin: 15px;">
                            <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                             <p>Resources can be considered strong if they can be applied to the typical curriculum with some
                                modifications, or address topics that do not receive direct focus within instruction, but are
                                commonly of interest to students.</p>
                          </div>
                       </div>
                     </div>
                     <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                       <div class="btn-group fixed" data-toggle="buttons">
                         <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                           <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                           <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                           <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                         </label>
                       </div>
                     </div>
                    </a>

                    <a class="row rubric_align">
                      <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                          <div class="panel-heading">
                              <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                  <h4 class="panel-title">
                                       Ease of Use
                                      <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                  </h4>
                              </a>
                          </div>
                          <div id="faq-cat-2-sub-5" class="panel-collapse collapse">
                            <div class="panel-body rubric-text">
                             <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                               <p>Superior Resources require little up-front explanation for use by teachers and students,
                                  and no training is required to support immediate use by students.</p>
                                  <hr style="margin: 15px;">
                             <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                              <p>Resources can be considered strong if use of the resource requires that students or teachers
                                 read and understand a short set of directions.</p>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                        <div class="btn-group fixed" data-toggle="buttons">
                          <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                            <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                          </label>
                          <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                            <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                          </label>
                          <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                            <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                          </label>
                        </div>
                      </div>
                     </a>
                 </div>
               </div>

             <div class="tab-pane fade" id="faq-cat-3">
               <div class="panel-group" id="accordion-cat-3">
                 <a class="row rubric_align">
                   <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                     <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                         <h4 class="panel-title">
                           Degree of Alignment to Standards
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                       </a>
                     </div>
                       <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                            <p>A resource has superior alignment only if both of the following are true:</p>
                              <ul>
                                <li>All of the content and performance expectations in the identified standard
                                    are completely addressed by the resource.</li>
                                <li>The content and performance expectations of the identified standard are the
                                    focus of the resource. While some resources may cover a range of standards that
                                    could potentially be aligned, for a superior alignment the content and performance
                                    expectations must not be a peripheral part of the resource.</li>
                              </ul>
                            <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                          <p>A resource has strong alignment for either one of two reasons:</p>
                            <ul>
                              <li>Minor elements of the standard are not addressed in the resource.</li>
                              <li>The content and performance expectations of the standard align to a minor part of the
                                resource.</li>
                            </ul>
                            <hr style="margin: 15px;">
                            <div>
                              <p class="rubric-attribution"><i>This rubric is only applied to learning resources that have suggested alignments to standards.
                              </br>This rubric follows the <a href ='https://www.achieve.org/files/AchieveOERRubrics.pdf', target ='_blank'>Achieve Rubric
                                 for Evaluating OER Objects</a>: Rubric 1: Degree of Alignment to Standards</i>
                               </p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                      <div class="btn-group fixed" data-toggle="buttons">
                        <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                          <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                        </label>
                        <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                          <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                        </label>
                        <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                          <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                        </label>
                      </div>
                    </div>
                  </a>

                  <a class="row rubric_align">
                    <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2">
                               <h4 class="panel-title">
                                Utility of Materials Designed to Support Teaching
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                           </a>
                       </div>
                       <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                            <p>A resource is rated superior for the utility of materials designed to support teaching only if all of the following are true:</p>
                            <ul>
                              <li>The resource provides materials that are comprehensive and easy to understand and use.</li>
                              <li>The resource includes suggestions for ways to use the materials with a variety of learners.
                                  These suggestions include materials such as “common error analysis tips” and “precursor
                                  skills and knowledge” that go beyond the basic lesson or unit elements.</li>
                              <li>All resources and all components are provided and function as intended and described. For
                                  example, the time needed for lesson planning appears accurately estimated, materials
                                  lists are complete, and explanations make sense.</li>
                              <li>For larger resources like units, materials facilitate the use of a mix of instructional
                                  approaches (direct instruction, group work, investigations, etc.).</li>
                            </ul>
                               <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                           <p>A resource is rated strong for the utility of materials designed to support teaching if it offers
                              materials that are comprehensive and easy to understand and use but falls short of “superior” for either one of two reasons:</p>
                            <ul>
                              <li> The resource does not include suggestions for ways to use the materials with a variety of learners (e.g., error analysis tips).</li>
                              <li>Some core components (e.g., directions) are underdeveloped in the resource.</li>
                            </ul>
                            <hr style="margin: 15px;">
                            <div>
                              <p class="rubric-attribution"><i>This rubric is only applied to resources designed to support teachers in planning or presenting subject matter.
                              </br>This rubric follows the <a href ='https://www.achieve.org/files/AchieveOERRubrics.pdf', target ='_blank'>Achieve Rubric
                                 for Evaluating OER Objects</a>: Rubric 3: Utility of Materials Designed to Support Teaching</i>
                               </p>
                            </div>
                        </div>
                       </div>
                     </div>
                     <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                       <div class="btn-group fixed" data-toggle="buttons">
                         <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                           <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                           <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                           <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                         </label>
                       </div>
                     </div>
                   </a>

                   <a class="row rubric_align">
                     <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-3">
                                 <h4 class="panel-title">
                                     Quality of Assessments
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-3-sub-3" class="panel-collapse collapse">
                           <div class="panel-body rubric-text">
                            <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                              <p>A resource is rated superior for the quality of its assessments only if all of the following are true:
                                <ul>
                                  <li>All of the skills and knowledge assessed align clearly to the content and performance
                                      expectations intended, as stated or implied in the resource.</li>
                                  <li>Nothing is assessed that is not included in the scope of intended material unless it is
                                      differentiated as extension material.</li>
                                  <li>The most important aspects of the expectations are targeted and are given
                                      appropriate weight/attention in the assessment.</li>
                                  <li>The assessment modes used in the resource, such as selected response, long and short
                                      constructed response, or group work require the student to demonstrate proficiency
                                      in the intended concept/skill.</li>
                                  <li>The level of difficulty is a result of the complexity of the subject-area content and
                                      performance expectations and of the degree of cognitive demand, rather than a result of
                                      unrelated issues (e.g. overly complex vocabulary used in math word problems).</li>
                                </ul>
                              <hr style="margin: 15px;">
                            <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                             <p>A resource is rated strong for the quality of its assessments if it assesses all of the content
                                and performance expectations intended, but the assessment modes used do not consistently offer
                                the student opportunities to demonstrate proficiency in the intended concept/skill. </p>
                              <hr style="margin: 15px;">
                              <div>
                                <p class="rubric-attribution"><i>This rubric is applied to those resources designed to determine what a student knows before, during, or after a topic is taught.
                                </br> This rubric follows the <a href ='https://www.achieve.org/files/AchieveOERRubrics.pdf', target ='_blank'>Achieve Rubric
                                   for Evaluating OER Objects</a>: Rubric 4: Quality of Assessments</i>
                                 </p>
                              </div>
                          </div>
                        </div>
                     </div>
                     <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                       <div class="btn-group fixed" data-toggle="buttons">
                         <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                           <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                           <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                         </label>
                         <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                           <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                         </label>
                       </div>
                     </div>
                   </a>

                 <a class="row rubric_align">
                   <div class="panel panel-default panel-responsive panel-faq col-md-10 col-sm-10 col-xs-10 nopad">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-4">
                               <h4 class="panel-title">
                                    Quality of Instructional and Practice Exercises
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-3-sub-4" class="panel-collapse collapse">
                         <div class="panel-body rubric-text">
                          <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Superior Resources
                            <p>A resource is rated superior for the quality of its instructional and practice exercises only if
                               all of the following are true:</p>
                               <ul>
                                 <li>The resource offers more exercises than needed for the average student to facilitate
                                      mastery of the targeted skills, as stated or implied in the resource. For complex tasks, one
                                      or two rich practice exercises may be considered more than enough.</li>
                                 <li>The exercises are clearly written and supported by accurate answer keys or scoring guidelines
                                     as applicable.</li>
                                 <li>There are a variety of exercise types and/or the exercises are available in a variety of
                                     formats, as appropriate to the targeted concepts and skills. For more complex practice exercises
                                     the formats used provide an opportunity for the learner to integrate a variety of skills.</li>
                              </ul>
                               <hr style="margin: 15px;">
                          <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Strong Resources
                           <p>A resource is rated strong for the quality of its instructional and practice exercises if it offers only a
                              sufficient number of well-written exercises to facilitate mastery of targeted skills, which are supported by
                              accurate answer keys or scoring guidelines, but there is little variety of exercise types or formats.</p>
                          <hr style="margin: 15px;">
                          <div>
                            <p class="rubric-attribution"><i>This rubric is applied to resources that contain exercises designed to provide an opportunity
                               to practice and strengthen specific skills and knowledge.
                            </br> This rubric follows the <a href ='https://www.achieve.org/files/AchieveOERRubrics.pdf', target ='_blank'>Achieve Rubric
                                  for Evaluating OER Objects</a>: Rubric 6: Quality of Instructional and Practice Exercises</i>
                             </p>
                          </div>
                        </div>
                     </div>
                   </div>
                   <div class="col-md-2 col-sm-2 col-xs-2" style="padding-right:0px;">
                     <div class="btn-group fixed" data-toggle="buttons">
                       <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Superior">
                         <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                       </label>
                       <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Strong">
                         <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                       </label>
                       <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Rejected">
                         <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                       </label>
                     </div>
                   </div>
                  </a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
       <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 License" target="_blank">
         <img align="right" class="commons-style" alt="Creative Commons License"
         src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a></a>.
<script>
$(document).ready(function() {
    $('.collapse').on('show.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
    });
    $('.collapse').on('hide.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
    });
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
      animation: true,
      delay: {show: 100, hide: 200}
    });
  });
</script>
