
<div class="container faqs-container">
  <div class="page-header" style="margin-bottom: 70px;">
    <h1 class="feature-heading">Content Cuaration Rubric</h1>
    <h1><small>This is where we describe what this is, what resources should be considered, how it should be used, and who will use it.</br>
  </div>
   <div class="row">
       <div class="col-md-9 col-md-offset-2">
           <!-- Nav tabs category -->
           <ul class="nav nav-tabs rubric-cat-tabs">
               <li class="active tab-width"><a href="#faq-cat-1" data-toggle="tab"><span class="badge badge-rubric">1</span>Publisher Rubric</a></li>
               <li class="tab-width"><a href="#faq-cat-2" data-toggle="tab"><span class="badge badge-rubric">2</span>Resource Rubric</a></li>
               <li class="tab-width"><a href="#faq-cat-3" data-toggle="tab"><span class="badge badge-rubric">3</span>Resource Type Rubric</a></li>
           </ul>

           <!-- Tab panes -->
           <div class="tab-content faq-cat-content">
               <div class="tab-pane active in fade" id="faq-cat-1">
                   <div class="panel-group" id="accordion-cat-1">

                     <a class="row rubric_align">
                       <div class="panel panel-default panel-faq col-md-10 nopad">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                   <h4 class="panel-title">
                                       Amount and Nature of Advertisements
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                             <div class="panel-body rubric-text">
                              <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Exemplar Publishers
                                <p>Resources from Exemplar Publishers do not include advertisements.</p>
                                <hr style="margin: 15px;">
                              <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Acceptable Publishers
                               <p>It is recognized that publishers often require the use of advertisements in order to create content,
                                  therefore resources are accepted with fewer than 2 advertisements. Advertisements must be appropriate,
                                  and may not obstruct the use of the resource, or become an intrusion within its overall flow. Resources
                                  with advertisements that are no clearly marked, distract the user, or coerce the user to select it are
                                  not considered Acceptable resources.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2" style="padding-right:0px;">
                          <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Exemplar">
                              <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                            </label>
                            <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Acceptable">
                              <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                            </label>
                            <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Unacceptable">
                              <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                            </label>
                          </div>
                        </div>
                      </a>

                      <a class="row rubric_align">
                        <div class="panel panel-default panel-faq col-md-10 nopad">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                   <h4 class="panel-title">
                                       Required Authentication for Access
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                             <div class="panel-body rubric-text">
                              <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Exemplar Publishers
                                <p>Resources from Exemplar Publishers do not require authentication for access. Resources can be accessed
                                   from a publicly available URL.</p>
                                   <hr style="margin: 15px;">
                              <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Acceptable Publishers
                               <p>Resources are considered Acceptable if authentication is not required to access resources, but it is
                                  used in order to store progress or save user created work. In some situations, resource are curated that require free login.</p>
                            </div>
                           </div>
                         </div>
                         <div class="col-md-2" style="padding-right:0px;">
                           <div class="btn-group" data-toggle="buttons">
                             <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Exemplar">
                               <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                             </label>
                             <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Acceptable">
                               <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                             </label>
                             <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Unacceptable">
                               <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                             </label>
                           </div>
                         </div>
                       </a>

                       <a class="row rubric_align">
                         <div class="panel panel-default panel-faq col-md-10 nopad">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                     <h4 class="panel-title">
                                         Privacy Policy and Capture of Student Data
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                               <div class="panel-body rubric-text">
                                <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Exemplar Publishers
                                  <p>Exemplar Publishers have a clearly stated privacy policy and terms of service. Exemplar
                                    Publishers do not collect personally identifiable information about students.</p>
                                    <hr style="margin: 15px;">
                                <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Acceptable Publishers
                                 <p>Resources are considered Acceptable if student data practices are not clearly stated, but login is not
                                    supported, and users are not prompted to enter information that could be used to track their identity. </p>
                              </div>
                            </div>
                         </div>
                         <div class="col-md-2" style="padding-right:0px;">
                           <div class="btn-group" data-toggle="buttons">
                             <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Exemplar">
                               <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                             </label>
                             <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Acceptable">
                               <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                             </label>
                             <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Unacceptable">
                               <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                             </label>
                           </div>
                         </div>
                       </a>

                     <a class="row rubric_align">
                       <div class="panel panel-default panel-faq col-md-10 nopad">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                   <h4 class="panel-title">
                                       Level of Author and/or Publisher Authority
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                             <div class="panel-body rubric-text">
                              <i class="fa fa-star rubric-body-icon" aria-hidden="true"></i>Exemplar Publishers
                                <p>Exemplar Resources originate from a source with a strong reputation, are properly cited,
                                   and whose author(s) demonstrate no clear signs of bias. Exemplar Publishers are often
                                   institutions of higher learning, non-profit organizations, or government agencies.</p>
                                   <hr style="margin: 15px;">
                              <i class="fa fa-check-circle-o rubric-body-icon" aria-hidden="true"></i>Acceptable Publishers
                               <p>Resources are considered Acceptable if the author’s qualifications are unclear, but the
                                  source has demonstrated a reputation for creating accurate, educationally-relevant content.</p>
                            </div>
                         </div>
                       </div>
                       <div class="col-md-2" style="padding-right:0px;">
                         <div class="btn-group" data-toggle="buttons">
                           <label class="btn btn-default" data-active-class="success" data-toggle="tooltip" title="Exemplar">
                             <input type="radio" name="options" id="option1" autocomplete="off"> <i class="fa fa-star"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="warning" data-toggle="tooltip" title="Acceptable">
                             <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-check-circle-o"></i>
                           </label>
                           <label class="btn btn-default" data-active-class="danger" data-toggle="tooltip" title="Unacceptable">
                             <input type="radio" name="options" id="option3" autocomplete="off"> <i class="fa fa-ban"></i>
                           </label>
                         </div>
                       </div>
                     </div>
                   </div>
                 </a>

                 <div class="tab-pane fade" id="faq-cat-2">
                   <div class="panel-group" id="accordion-cat-2">
                   </div>
                 </div>

                 <div class="tab-pane fade" id="faq-cat-3">
                   <div class="panel-group" id="accordion-cat-3">
                   </div>
                 </div>

               </div>
             </div>
           </div>
         </div>
       </div>

<script>
$(document).ready(function() {
    $('.collapse').on('show.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
    });
    $('.collapse').on('hide.bs.collapse', function() {
        var id = $(this).attr('id');
        $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
        $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
    });
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
      animation: true,
      delay: {show: 100, hide: 200}
    });
  });
</script>
