<div class="container form_top">

  <p id="notice"><%= notice %></p>

  <iframe src="<%= @resource.url %>" width="100%" height="700">
      <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>
</div>
