// FAQ css

.contact {
  color: #D2681B;
  font-size: 25px;
}

.contact:hover{
  color: #46b8da;
  text-decoration: none;
}

.faqs-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.faq-cat-content {
    margin-top: 10px;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}

.page-header {
  text-align: center;
  padding-bottom: 40px;
}


// Rubric css

.rubric-cat-tabs li a {
    padding: 10px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
    font-size: 18px;
}

.tab-width {
  width: 33%;
  text-align: center;
}

.badge-rubric {
  margin-right: 20px;
  background-color: white;
  border-style: solid;
  color: #337ab7;
  border-color: #ddd;
  border-width: 2px;
}

.rubric-text {
  font-size: 14px;
}

.rubric-body-icon {
  margin-right: 5px;
}

.btn.active[data-active-class="success"] {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn.active[data-active-class="warning"] {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn.active[data-active-class="danger"] {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.rubric_align {
  margin-right: 0px;
  margin-left: 0px;
}

.nopad {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 5px !important;

}

.rubric-description {
  margin-top: 50px;
  text-align: left;
  font-weight: 120;
  font-size: 16px;
  color: gray;
}

.rubric-attribution {
  font-size: 12px;
  margin-bottom: -5px;
  text-align: center;
  color: gray;
}

.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.commons-style {
  margin-bottom: 100px;
  margin-right: 50px;
  margin-top: 50px;
}

.btn-group {
  display: flex !important;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .panel-responsive {
    width: 82%;
  }
  .rubric-cat-tabs li a {
    font-size: 17px;
  }
  .badge-rubric {
    margin-right: 15px;
  }
  .panel-title {
    font-size: 15px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .panel-responsive {
    width: 82%;
  }
  .rubric-cat-tabs li a {
    font-size: 15px;
  }
  .fixed {
    width: 140px;
  }
  .small-pad {
    margin-left: 40px;
    margin-right: 40px;
  }
  .badge-rubric {
    margin-right: 10px;
  }
  .panel-title {
    font-size: 14px;
  }
}

  @media (max-width: 767px) and (min-width: 712px) {
  .panel-responsive {
    width: 80%;
  }
  .fixed {
    width: 140px;
    }
  .panel-title {
    font-size: 14px;
  }
  .rubric-cat-tabs li a {
    font-size: 14px;
  }
  .badge-rubric {
    margin-right: 5px;
  }
  .small-pad {
    margin-left: 40px;
    margin-right: 40px;
  }
  }

  @media (max-width: 767px) and (min-width: 5px) {
    .panel-responsive {
      width: 80%;
    }
    .fixed {
      width: 140px;
      }
    .panel-title {
      font-size: 12px;
    }
    .rubric-cat-tabs li a {
      font-size: 12px;
    }
    .badge-rubric {
      margin-right: 10px;
    }
    .small-pad {
      margin-left: 40px;
      margin-right: 40px;
    }
    .badge-rubric {
      display:none;
    }

    }
