// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.support {
  margin-bottom: 35px;
  overflow: hidden;
}

.support h2{
  margin-top: 10px;
}

.support .pull-left {
  margin-right: 25px;
}

.support i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #46b8da;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.support i:hover {
  background: #46b8da;
  color: #fff;
  box-shadow: inset 0 0 0 5px #46b8da;
  -webkit-box-shadow: inset 0 0 0 5px #46b8da;
  border: 3px solid #46b8da;
}


.center {
  text-align: center;
  padding-bottom: 55px;
}

.support h2 {
  font-size: 20px;
}

.supportp{
  font-size: 16px;
  color: #808080;
}

.features{
  padding-bottom: 30px;
}

.feature-heading {
  text-align: center;
  padding-top: 30px;
}

.feature-heading hr {
height: 3px;
background-color: #f2f2f2;
border: 5px;
margin-top: 40px;
margin-bottom: 60px;
width: 800px;
}

.feature-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.parallax-like {
    background: url("mas2") no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax-like .overlay {
    min-height: 350px;
    background: rgba(35, 133, 161,0);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.parallax-like2 {
    background: url("mas3") no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax-like2 .overlay {
    min-height: 350px;
    background: rgba(35, 133, 161,0);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
}

header {
  text-align: center;
  background: #78cdcd;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr.mainline {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
