// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-outline {
    background-color: white;
    color: inherit;
    transition: all .5s;
    color: #46b8da;
}

.actions {
 text-align: right;
}

.resource-button {
  white-space:normal !important;
  width:110px !important;
  height:70px !important;
  vertical-align: middle;
  display: table-cell;
  float: none;
}

.iconstyle {
  color:gray;
  font-size: 15px;
}

.icontext {
  color:gray;
}

.wellbig{
  background: white;
  margin-top: 5px;
  padding-left: 40px;
}

.vcenter {
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.wellsmall{
  width: 14%;
  color: gray;
}

.media-text {
  padding-left: 8px;
  padding-right: 12px;
  padding-top: 8px;
}

.icpad {
  padding-right: 2px;
}

.form-long {
  overflow-y: auto;
  height: 100px;
}

.form-inline div {
  width:270px;
  text-align:center;
}

.drop-down-group {
  white-space: pre-line;
}

.form-long {
  overflow-y: auto;
  height: 115px;
}

.support-text {
  font-size: 12px;
}
.support-text:hover {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}

.body-text {
font-size: 15px;
}

.checkpanel {
  padding: 20px;
  margin-left: 15px;
}

.cbox {
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 15px;
}

.option-button {
    height:100%;
}

.media-object {
    height: 100px;
}

.descsize {
  font-size: 15px;
}

.fa-info-circle:hover {
    color: #2e6da4;
}

.fa-graduation-cap:hover {
  color: #2e6da4;
}

.fa-user:hover {
  color: #2e6da4;
}

.fa-send-o:hover{
  color: #2e6da4;
}

.subtext {
  font-size: 22px;
  font-style: italic;
  color: gray;
}

.jumbocustomsc{
  margin-top: 20px;
  margin-bottom: 100px;
  background: image-url("2.png");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;;
  border-color: #e3e3e3;
  border-width: medium;;
}

.jumbocustomela{
  margin-top: 20px;
  margin-bottom: 100px;
  background: image-url("1.png");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;;
  border-color: #e3e3e3;
  border-width: medium;
}

.jumbocustommath{
  margin-top: 20px;
  margin-bottom: 100px;
  background: image-url("math2.png");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;;
  border-color: #e3e3e3;
  border-width: medium;
  padding-left: 45px !important;
}

.jumbocustomss{
  margin-top: 20px;
  margin-bottom: 100px;
  background: image-url("4.png");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;;
  border-color: #e3e3e3;
  border-width: medium;
}

.video_container {
  border-style: solid;
  border-color: #e3e3e3;
  background-color: white;
}
