<div class="container-fluid footer">
  <div class="vcenterfooter">
    <ul class="nav nav-pills footerlinks">
       <li role="presentation"><%=link_to "Home", root_path%></li>
       <li role="presentation"><%=link_to "FAQ"%></li>
       <li role="presentation"><%=link_to "Technical Documentation"%></li>
       <li role="presentation"><%=link_to "Contact Us", 'http://www.knovationlearning.com/contact-us/',target: "_blank"%></li>
    </ul>
  </div>
 </div>
