<!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="small-logo-container">
         <a class="small-logo" <%= link_to image_tag("knovation-logo-color"), root_path %> </a>
       </div>
     </div>
     <div class="navbar-collapse collapse">

       <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Language Arts</a></li>
         <li><a href="#">Math</a></li>
         <li><a href="#">Science</a></li>
         <li><a href="#">Social Studies</a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>
